@import "../../../../sass/variables";
@import "../../../../sass/icons";
@import "../../../../sass/mixins";
.document {
  width: calc(50% - 40px);
  float: left;
  margin: 20px 20px 50px;
  border-bottom-width: 2px;
  border-color: darken($background, 5%);
  font-size: 14px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  cursor: pointer;

  .document-title {
    margin: 0;
    font-size: 16px;

    a {
      color: #515463;
      font-weight: 500;
    }
  }

  .document-authors {
    padding: 0;
    margin-bottom: 5px;
    color: #7b79b7;


    .document-author {
      list-style: none;
      padding: 0;
      display: block;
    }
  }
  .document-menu {
    position: absolute;
    right: 5px;
    top: 10px;

    .document-options {
      background: url(/assets/menu.svg);
      width: 14px;
      height: 14px;
      opacity: 0.2;
      -webkit-transition: .3s opacity;
      -moz-transition: .3s opacity;
      -ms-transition: .3s opacity;
      -o-transition: .3s opacity;
      transition: .2s opacity;

      &:hover {
        opacity: 0.3;
      }
      &[aria-expanded="true"]{
        opacity: 0.4;
      }
      &:after {
        display: none;
      }
    }
  }

  .document-MetaInfo {
    line-height: 1.5em;
    height: 10.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-footer {
    border-color: darken($background, 5%);
    .text-muted {
      font-size: 13px;
    }
  }
  .card-text {
    margin-top: 1.5em;
  }

  .document-thumb {
    -webkit-user-select: none;
    position: relative;
    width: 160px;
    height: 225px;
    overflow: hidden;
    box-shadow: 5px 0 20px #b9b9b9;
    margin-right: 15px;
    border-radius: 4px;
    float: left;
    margin-top: -45px;
    background: #fff;

    .document-thumb-image {
      -webkit-user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      max-height: 237px;
      overflow: hidden;
    }
  }
  .dropdown-menu-right {
    margin-left: -148px;
  }
  .document-type-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

    i {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }
    .book {
      background: url('/assets/icons/book-white.svg') no-repeat center;
    }
    .journal {
      background: url('/assets/icons/article.svg') no-repeat center;
    }
    .av {
      background: url('/assets/icons/disk.svg') no-repeat center;
      opacity: 0.8;
    }
    .av, .journal {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
  }

}


@media only screen and (max-width: 758px) {
  /* For mobile phones: */
  [class*="document"] {
    width: 88%;
    [class*="document-thumb"] {
      height: 100vw;
      width: 100%;
      margin-bottom: 25px;
      [class*="document-thumb-image"] {
        max-height: 758px;
        width: auto;
      }
    }
  }
}
