<main class="body container">
  <div class="admin-dashboard row mx-auto">
    <div class="col-lg-3 col-md-4 col-6 px-2 px-2">
      <div class="card" [routerLink]="['user-list']">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <h6 class="card-subtitle mb-2 text-muted">Patrons and faculties</h6>
          <p class="card-text">Manage user's private info, roles and their orders.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 px-2">
      <div class="card" [routerLink]="['document-list']">
        <div class="card-body">
          <h5 class="card-title">Documents</h5>
          <h6 class="card-subtitle mb-2 text-muted">Books, articles and AV</h6>
          <p class="card-text">Librarians can create, manage and delete documents.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 px-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
          <h6 class="card-subtitle mb-2 text-muted">Accept / decline</h6>
          <p class="card-text">Control relations between users and their orders</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 px-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tags</h5>
          <h6 class="card-subtitle mb-2 text-muted">Document categories</h6>
          <p class="card-text">Add searchable labels to mark documents by criteria.</p>
        </div>
      </div>
    </div>
  </div>
</main>
