<main class="body">
  <div class="user-edit-page col-lg-10 col-12 px-0 row mx-auto">
    <app-navbar></app-navbar>
    <div *ngIf="user != null; else userNotFound" class="user">
      <div class="user-username">
        <h2>{{ user.first_name ? user.first_name + " " + user.last_name : user.username }}</h2>
      </div>
      <p class="text-muted italic" [routerLink]="['../']">
        <i class="left-chevron"></i> Go back to profile
      </p>
      <form class="user-edit-form" novalidate="" [formGroup]="userEditInfoForm" (ngSubmit)="onSubmit()">
        <table class="user-data col-lg-8">
          <thead>
          <tr><th width="20%"></th><th width="30%"></th></tr>
          </thead>
          <tbody>
          <tr>
            <td class="bold">Email</td>
            <td>
              <input type="email" class="form-control"
                     id="email" formControlName="email"
                     value="{{user.email}}" #editEmail
                     placeholder="Email"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('email').errors && userEditInfoForm.get('email').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('email')?.errors?.msg || 'Enter valid email address!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Username</td>
            <td>
              <input type="text" class="form-control"
                     id="username" formControlName="username"
                     value="{{user.username}}" #editUsername
                     placeholder="Username"
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('username').errors && userEditInfoForm.get('username').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('username')?.errors?.msg || 'Enter valid username!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Role</td>
            <td>
              <select class="form-control"
                      id="role" formControlName="role" #editRole
                      [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('username').errors && userEditInfoForm.get('username').dirty
                       }">
                <option value="0" [selected]="user.role === 0">Patron</option>
                <option value="1" [selected]="user.role === 1">Faculty</option>
                <option value="2" [selected]="user.role === 2">Librarian</option>
              </select>
              <div class="invalid-feedback">
                {{userEditInfoForm.get('username')?.errors?.msg || 'Enter valid username!'}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="text-muted italic mt-5">Additional information</p>
        <table class="user-data col-lg-8">
          <thead>
          <tr><th width="20%"></th><th width="30%"></th></tr>
          </thead>
          <tbody>
          <tr>
            <td class="bold">Phone number</td>
            <td>
              <input type="text" class="form-control"
                     id="phone" formControlName="phone"
                     placeholder="Phone number"
                     value="{{user.phone}}" #editPhone
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('phone').errors && userEditInfoForm.get('phone').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('phone')?.errors?.msg || 'Enter valid phone number!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Address</td>
            <td>
              <input type="address" class="form-control"
                     id="address" formControlName="address"
                     value="{{user.address}}" #editAddress
                     placeholder="Address"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('address').errors && userEditInfoForm.get('address').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('address')?.errors?.msg || 'Enter valid address!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">First name</td>
            <td>
              <input type="text" class="form-control"
                     id="firstName" formControlName="first_name"
                     placeholder="First name"
                     value="{{user.first_name}}" #editFirstName
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('first_name').errors && userEditInfoForm.get('first_name').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('first_name')?.errors?.msg || 'Enter valid first name!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Last name</td>
            <td>
              <input type="text" class="form-control"
                     id="lastName" formControlName="last_name"
                     placeholder="Last name"
                     value="{{user.last_name}}" #editLastName
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('last_name').errors && userEditInfoForm.get('last_name').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('last_name')?.errors?.msg || 'Enter valid last name!'}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" type="submit" (click)="submitForm()">Submit changes</button>
      </form>
      <form class="user-change-password-form" novalidate="" [formGroup]="userChangePasswordForm" (ngSubmit)="onPasswordChange()">
        <p class="text-muted italic">Change password</p>
        <table class="user-data col-lg-8">
          <thead>
          <tr><th width="20%"></th><th width="30%"></th></tr>
          </thead>
          <tbody>
          <tr>
            <td class="bold">Old password</td>
            <td>
              <input type="password" class="form-control"
                     id="password" autocomplete="off" formControlName="password"
                     placeholder="Old password"
                     [ngClass]="{
                     'is-invalid' : userChangePasswordForm.get('password').errors && userChangePasswordForm.get('password').dirty
                     }">
              <div class="invalid-feedback">
                {{userChangePasswordForm.get('password1')?.errors?.msg || 'Old password is incorrect!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">New password</td>
            <td>
              <input type="password" class="form-control"
                     id="password1" autocomplete="off" formControlName="password1"
                     placeholder="New password"
                     [ngClass]="{
                     'is-invalid' : userChangePasswordForm.get('password1').errors && userChangePasswordForm.get('password1').dirty
                     }">
              <div class="invalid-feedback">
                {{userChangePasswordForm.get('password1')?.errors?.msg || 'Password must be at least 8 symbols!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Password confirmation</td>
            <td>
              <input type="password" class="form-control"
                     id="password2" autocomplete="off" formControlName="password2"
                     placeholder="Password confirmation"
                     [ngClass]="{
                          'is-invalid' : userChangePasswordForm.get('password2').errors && userChangePasswordForm.get('password2').dirty
                       }">
              <div class="invalid-feedback">
                {{userChangePasswordForm.get('password2')?.errors?.msg || 'Password must match!'}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Change password</button>
      </form>
    </div>
  </div>

  <ng-template #userNotFound>
    <app-loader></app-loader>
  </ng-template>
</main>
