<main class="body">
  <div class="user-edit-page col-lg-10 col-12 px-0 row mx-auto">
    <app-navbar></app-navbar>
    <div class="document">
      <div class="user-username">
      </div>
      <p class="text-muted italic" [routerLink]="['../']">
        <i class="left-chevron"></i> Go back to documents
      </p>
      <form class="user-edit-form" novalidate="" [formGroup]="userEditInfoForm" (ngSubmit)="onSubmit()">
        <table class="user-data col-lg-8">
          <thead>
          <tr><th width="20%"></th><th width="30%"></th></tr>
          </thead>
          <tbody>
          <tr>
            <td class="bold">Title</td>
            <td>
              <input type="text" class="form-control"
                     id="title" formControlName="title"
                     value="" #addTitle
                     placeholder="Java The Programming Language"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('title').errors && userEditInfoForm.get('title').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('title')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Authors</td>
            <td>
              <input type="text" class="form-control"
                     id="authors" formControlName="authors"
                     value="" #addAuthors
                     placeholder="e.g John Doe"
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('authors').errors && userEditInfoForm.get('authors').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('authors')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Publisher</td>
            <td>
              <input type="text" class="form-control"
                     id="publisher" formControlName="publisher"
                     value="" #addPublisher
                     placeholder="MIT Press"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('publisher').errors && userEditInfoForm.get('publisher').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('publisher')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Document Type</td>
            <td>
              <select class="form-control"
                      id="document_type" formControlName="document_type" #addDocumentType
                      [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('document_type').errors && userEditInfoForm.get('document_type').dirty
                       }">
                <option value=0 [selected]="document.type === 0">Book</option>
                <option value=1 [selected]="document.type === 1">AV Material</option>
                <option value=2 [selected]="document.type === 2">Journal</option>
              </select>
              <div class="invalid-feedback">
                {{userEditInfoForm.get('document_type')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Price</td>
            <td>
              <input type="text" class="form-control"
                     id="price" formControlName="price"
                     value="" #addPrice
                     placeholder="1800"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('price').errors && userEditInfoForm.get('price').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('price')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Year</td>
            <td>
              <input type="text" class="form-control"
                     id="year" formControlName="year"
                     value="" #addYear
                     placeholder="2018"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('year').errors && userEditInfoForm.get('year').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('year')?.errors?.msg || 'This field is necessary'}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="text-muted italic mt-5">Additional information</p>
        <table class="user-data col-lg-8">
          <thead>
          <tr><th width="20%"></th><th width="30%"></th></tr>
          </thead>
          <tbody>
          <tr>
            <td class="bold">Description</td>
            <td>
              <input type="text" class="form-control"
                     id="description" formControlName="description"
                     placeholder="Description"
                     value="" #addDescription
                     [ngClass]="{
                          'is-invalid' : userEditInfoForm.get('description').errors && userEditInfoForm.get('description').dirty
                       }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('description')?.errors?.msg || 'Enter valid phone number!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Cover</td>
            <td>
              <input type="text" class="form-control"
                     id="cover" formControlName="cover"
                     value="" #addCover
                     placeholder="Cover link"
                     [ngClass]="{
                            'is-invalid' : userEditInfoForm.get('cover').errors && userEditInfoForm.get('cover').dirty
                         }">
              <div class="invalid-feedback">
                {{userEditInfoForm.get('cover')?.errors?.msg || 'Enter valid cover!'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bold">Is Reference</td>
            <td>
              <input class="checkbox" type="checkbox" (change)="onReferenceChange()" #addReference>
            </td>
          </tr>
          <tr>
            <td class="bold">Is Bestseller</td>
            <td>
              <input class="checkbox" type="checkbox" (change)="onBestsellerChange()" #addBestseller>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" type="submit" (click)="submitForm()">Add document</button>
      </form>
    </div>
  </div>

  <ng-template #userNotFound>
    <app-loader></app-loader>
  </ng-template>
</main>
