# IDEs and editors
/.idea
.project
.gitignore
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/venv
/server/lmsinno/test_scripts.py
/server/tests.py
/server/log.txt

# System Files
.DS_Store
Thumbs.db