<main class="body">
  <div class="sign-in row mx-auto" [style.height.px]="innerHeight - 170">
    <div class="side-image-block px-0 col-5">
      <div class="side-image"></div>
    </div>
    <div class="sign-in-block">
      <div class="sign-in-form-holder">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title font-weight-light">Login to {{title}}</h3>
            <p class="text-muted">Get access to the non-official library system of Innopolis University now!</p>
          </div>
        </div>
        <form class="login-form" novalidate="" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control"
                   id="username" formControlName="username"
                   placeholder="Username"
                   [ngClass]="{
                          'is-invalid' : signInForm.get('username').errors && signInForm.get('username').touched
                       }">
            <div class="invalid-feedback">
              {{signInForm.get('username')?.errors?.msg || 'Enter valid username!'}}
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"
                   id="password" autocomplete="off" formControlName="password"
                   placeholder="Password"
                   [ngClass]="{
                          'is-invalid' : signInForm.get('password').errors && signInForm.get('password').touched
                       }">
            <div class="invalid-feedback">
              {{signInForm.get('password')?.errors?.msg || 'Enter the correct password!'}}
            </div>
          </div>
          <button type="submit" class="btn btn-primary login-login-button">Log in</button>
        </form>
      </div>
    </div>
  </div>
</main>
