<main class="body">
  <div class="user-list col-lg-10 col-12 px-0 row mx-auto">
    <app-navbar></app-navbar>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th><span>User</span></th>
          <th><span>Phone</span></th>
          <th><span>Role</span></th>
          <th><span>Email</span></th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of (users$ | async)">
          <td>
            <a class="user-link" [routerLink]="'/librarian/user/'+user.id">
              <span class="user-fullname">{{user.first_name + " " + user.last_name}}</span>
              <span class="username">{{user.username}}</span>
            </a>
          </td>
          <td><a class="user-phone" href="tel:{{user.phone}}">{{user.phone}}</a></td>
          <td [innerHTML]="user.role | userRole"></td>
          <td>{{user.email}}</td>
          <td>
            <span class="table-link" [routerLink]="'/librarian/user/'+user.id+'/edit'"><i class="user-edit"></i> </span>
            <span class="table-link" (click)="openModal(deleteUser, user)"><i class="user-delete"></i></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<ng-template #deleteUser let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Confirm')">Confirm</button>
  </div>
</ng-template>
