@import
  '~bootstrap/scss/bootstrap';

@import './variables';
@import './mixins';

body {
  background: $background;
}

.invalid-feedback {
  position: absolute;
  margin-top: -23px;
  font-size: 12px;
}
.form-control {
  margin-bottom: 25px;
  border-radius: 0;
  box-shadow: none !important;
  border-width: 0;
  border-bottom: 2px solid #e9ecef;

  &:hover {
    border-color: #deeeff;
  }
  &:focus {
    border-color: #007bff;
  }
  &.is-invalid {
    border-color: #dc3545 !important;
  }
}
.btn {
  border-radius: 20px !important;
  padding: 0.375rem 1.5rem !important;
}
