@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/print',
  '~bootstrap/scss/reboot',
  '~bootstrap/scss/badge',
  '~bootstrap/scss/card',
  '~bootstrap/scss/dropdown',
  '~bootstrap/scss/grid',
  '~bootstrap/scss/nav',
  '~bootstrap/scss/navbar',
  '~bootstrap/scss/reboot',
  '~bootstrap/scss/type',
  '~bootstrap/scss/utilities';

@import './variables';
@import './forms';
@import './typography';
@import './dropdown';
@import './mixins';

body {
  background: $background;
}

.nav-link {
  text-transform: uppercase;
  font-size: 13px;
}

.btn {
  height: 37px;
  line-height: 35px;
  padding: 0 16px;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
  display: inline-block;
  position: relative;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,0);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  outline: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  &:hover {
    color: rgba(0,0,0,.68);
    border-color: rgba(0,0,0,.54);
  }
  &:focus {
    border-color: rgba(0,0,0,.68);
  }
}
.btn-primary {
  background: rgba(0,0,0,.84);
  border-color: rgba(0,0,0,.84);
  color: rgba(255,255,255,.97)
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
  background: #000;
  border-color: #000;
  color: rgba(255,255,255,.97)
}
