@import "../../../../sass/variables";
.loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}
.image-loader{
  padding: 12.5px 0;
  position: absolute;
  top: 46.5%;
  left: 46.5%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}
.image-loader .rect{
  position: relative;
  height: 80px;
  width: 80px;
  animation: rotating 1.7s linear infinite;
}

@keyframes rotating{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.image-loader .rect .dot{
  position: absolute;
  left: 28px;
  top: 28px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: $primary;
}
.image-loader .rect .dot.d_i{
  animation: dot_i 1.5s ease-in-out infinite;
}
.image-loader .rect .dot.d_ii{
  animation: dot_ii 1.5s ease-in-out infinite;
}

@keyframes dot_i{
  0%, 100%{
    transform: translateY(0) scale(1);
  }
  50%{
    transform: translateY(20px) scale(0.8);
  }
}

@keyframes dot_ii{
  0%, 100%{
    transform: translateY(0) scale(1);
  }
  50%{
    transform: translateY(-20px) scale(0.8);
  }
}
