<div class="header-slider">
  <div ng2-carouselamos
       class="slides-wrapper"
       [items]="bestsellers$"
       [width]="innerWidth"
       [$prev]="prev"
       [$next]="next"
       [$item]="item"
       (onSelectedItem)="null"
  >
  </div>

  <ng-template #prev>
    <div class="move-left">
      <i class="left-chevron"></i>
    </div>
  </ng-template>
  <ng-template #next>
    <div class="move-right">
      <i class="left-chevron rotated"></i>
    </div>
  </ng-template>
  <ng-template #item let-item let-i="index">
    <app-bestseller-item [width]="innerWidth" [document]="item"></app-bestseller-item>
  </ng-template>
</div>

<main class="body">
  <div class="documents">
    <div *ngIf="(loading$ | async)?.loading === false; else loading" class="container-fluid px-lg-1 pr-lg-5">
      <div class="row">
        <aside class="col-12 col-lg-3">

        </aside>
        <div class="content col-12 col-lg-9">
          <app-genre-nav></app-genre-nav>
          <app-document-list
            appInfiniteScroller
            [scrollPercent]="90"
            [scrollCallback]="scrollCallback"
            [documents]="documents$ | async" [permission]="permission">
          </app-document-list>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <app-loader [hidden]="(loading$ | async)?.loading === false || !!(loading$ | async)?.error"></app-loader>
    </ng-template>
  </div>
</main>
