<div class="header-slider">
  <div ng2-carouselamos
       class="slides-wrapper"
       [items]="bestsellers$"
       [width]="2000"
       [$prev]="prev"
       [$next]="next"
       [$item]="item"
  >
  </div>

  <ng-template #prev>
    x
  </ng-template>
  <ng-template #next>
    y
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="items">
      <img class="document-thumb" src="{{ item.cover }}">
    </div>

  </ng-template>

</div>
<main class="body">
  <div class="documents">
    <div class="container-fluid px-lg-1 pr-lg-5">
      <div class="row">
        <aside class="col-12 col-lg-3">

        </aside>
        <div class="content col-12 col-lg-9">
          <app-genre-nav></app-genre-nav>
          <app-document-list
            [documents]="documents$ | async" [permission]="permission">
          </app-document-list>
        </div>
      </div>
      <app-loader [hidden]="(loading$ | async)?.loading === false || !!(loading$ | async)?.error"></app-loader>
    </div>
  </div>
</main>
