@import "../../sass/variables";
.header-slider {
  height: 250px;
  background: #fff;
}

.documents {
  background: $background;
  position: relative;

  .content {
    margin-top: 30px;

    .navbar-brand {
      font-family: $title-sans-font-stack;
      font-weight: 400;
      font-size: 33px;
      color: $dark;
    }
  }

  app-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    & > div {
     background: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 100%;
    }
  }
  .image-loader {
    top: 200px !important;
  }
}
