@import '../sass/variables';

main {
  height: 100%;
}

app-header {
  height: 70px;
  width: 100%;
  float: left;
}
.overlay-image {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  display: none;
  background: url("/assets/attachment.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
  &.show {
    display: block;
    opacity: 0.3;
  }
}
