<nav class="navbar navbar-expand navbar-light flex-column flex-md-row" [class.fixed]="navIsFixed" [class.open]="searchOpen">
  <a class="navbar-brand mb-0 h1" [routerLink]="['/documents/']">
    <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Librarian
  </a>
  <div id="morphsearch" class="morphsearch" [class.open]="searchOpen">
    <form class="morphsearch-form">
      <input class="morphsearch-input" (focus)="setSearchState(true)" type="search" placeholder="Search..."/>
      <button class="morphsearch-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content">
      <div *ngFor="let document of (documents$ | async)">
        <div class="morphsearch-content-element">{{document.title}}</div>
      </div>
    </div>
    <span class="morphsearch-close" (click)="setSearchState(false)"></span>
  </div>
  <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <ul *ngIf="!isAuthenticated; else userBar" class="nav navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth', 'signup']" routerLinkActive="active">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth', 'login']" routerLinkActive="active">Login</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>-->
    </ul>
    <ng-template #userBar>
      <ul class="nav navbar-nav float-right">
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" [routerLink]="['/librarian']" routerLinkActive="active">Manage</a>
        </li>
        <li ngbDropdown class="document-menu nav-item">
          <a ngbDropdownToggle class="nav-link active">{{user$.first_name ? user$.first_name + " " + user$.last_name : user$.username}}</a>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <button class="dropdown-item" [routerLink]="['/user', 'profile']">Profile</button>
            <button class="dropdown-item" [routerLink]="['/user', 'orders']">Orders</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
