@import "../../../../sass/variables";
.document {
  margin: 50px 0;
  width: 100%;

  .document-info {
    padding: 50px 50px 50px 80px;
    background: #fff;
    position: absolute;
    left: 30%;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 50px;

    .more {
      color: #7b79b7;
      cursor: pointer;
    }
  }
  .document-title {
    font-family: $title-sans-font-stack ;
    font-weight: 400;
    font-size: 33px;
    color: #365652;
    line-height: 1;
    margin: 0;
  }
  .document-menu {
    position: absolute;
    right: 5px;
    top: 10px;

    .document-options {
      background: url(/assets/menu.svg);
      width: 14px;
      height: 14px;
      opacity: 0.2;
      -webkit-transition: .3s opacity;
      -moz-transition: .3s opacity;
      -ms-transition: .3s opacity;
      -o-transition: .3s opacity;
      transition: .2s opacity;

      &:hover {
        opacity: 0.3;
      }
      &[aria-expanded="true"]{
        opacity: 0.4;
      }
      &:after {
        display: none;
      }
    }
  }

  .document-authors {
    padding: 0;
    margin-bottom: 20px;
    color: #7b79b7;


    .document-author {
      list-style: none;
      padding: 0;
      display: block;
    }
  }

  .document-cover {
    height: auto;
    box-shadow: 5px 0 20px #b9b9b9;
    background: #fff;
    padding: 0;
    z-index: 2;
    width: auto;
    -webkit-user-select: none;

    .document-thumb-image {
      width: 100%;
      height: auto;
    }
  }
  .document-extra {
    margin-top:  20px;
    tr {
      line-height: 28px;
    }
  }
  .badge.badge-warning {
    position: absolute;
    top: -7px;
  }
}


@media only screen and (max-width: 652px) {
  /* For mobile phones: */
  [class*="document"] {
    // margin: 0px 0;
    width: 100%;
    [class*="document-info"] {
      left: 3vw;
    }
    [class*="document-cover"] {
      display: none;
      height: 100%;
      width: auto;
      margin-bottom: 25px;
      z-index: -1;
      margin-right: -50px;
      [class*="document-thumb-image"] {
        //width: 100%;
        z-index: -1;
      }
    }
  }
}
