<div class="document col-lg-8 col-md-10 col-12 mx-auto" *ngIf="document != null" itemscope
     itemtype="https://schema.org/CreativeWork">
  <div class="row">
    <div class="col-md-4 col-12 document-cover" [class.fixed]="thumbIsFixed">
      <img itemprop="image"
           class="document-thumb-image"
           alt="{{document.title}}"
           [src]="document.cover">
    </div>
    <div class="col-md-8 document-info">
      <div itemprop="headline" class="document-title card-title">
        {{ document.title }}
      </div>
      <div ngbDropdown class="document-menu" *ngIf="permission">
        <div ngbDropdownToggle class="document-options"></div>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <button class="dropdown-item" (click)="addCopy(document)">Add copy</button>
          <button class="dropdown-item" (click)="deleteCopy(document.document_id)">Remove copy</button>
          <button class="dropdown-item" [routerLink]="['../../admin', 'documents', document.document_id, 'edit']">Edit document</button>
          <button class="dropdown-item" (click)="deleteDocument(document.document_id)">Delete document</button>
        </div>
      </div>
      <ul class="document-authors">
        <li *ngFor="let author of document.authors"
            itemprop="author" class="document-author">{{ author.name }}</li>
      </ul>
      <div itemprop="description"
           class="document-description card-text italic">
        {{ description }}
        <span class="more"
              *ngIf="document.description.length > 200"
              (click)="extendDescription($event)">
          more..
        </span>
      </div>
      <table class="document-extra col-12">
        <thead>
          <tr><th width="50%"></th><th width="50%"></th></tr>
        </thead>
        <tbody>
          <tr *ngIf="document.publisher">
            <td class="bold">Publisher</td>
            <td>{{document.publisher}}
            </td>
          </tr>
          <tr *ngIf="document.year">
            <td class="bold">Year of publication</td>
            <td>{{document.year}}
            </td>
          </tr>
          <tr>
            <td class="bold">Type</td>
            <td>{{document.type | documentType}}
            </td>
          </tr>
          <tr>
            <td class="bold">Price</td>
            <td>{{document.price}} ₽</td>
          </tr>
          <tr *ngIf="permission">
            <td class="bold">All copies of document</td>
            <td>{{document.copies_all}}</td>
          </tr>
          <tr *ngIf="permission">
            <td class="bold">Booked copies</td>
            <td>{{document.copies_all - document.copies_available}}</td>
          </tr>
          <tr *ngIf="permission">
            <td class="bold">In stock</td>
            <td>{{document.copies_available}}</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-primary mt-3"
                      (click)="bookDocument(document.document_id)" *ngIf="document.copies_available > 0 && !document.is_reference && tg_id > 0; else noCopies">
                  Book it!<span class="badge badge-warning">{{document.copies_available}} left</span>
              </button>
              <ng-template #noCopies>
                <button type="button" class="btn btn-primary mt-3" *ngIf="!document.is_reference > 0 && tg_id > 0; else referenceBook"
                        (click)="bookDocument(document.document_id)">Pre-order document</button>
              </ng-template>
              <ng-template #referenceBook>
                <p class="text-muted italic" *ngIf="tg_id > 0; else noTelegramId">Reference book</p>
              </ng-template>
              <ng-template #noTelegramId>
                <p class="text-muted italic">No Telegram were provided. <a href="https://oauth.telegram.org/auth?bot_id=560114968&origin=https%3A%2F%2Ftrainno.ru&request_access=write">Register now</a></p>
              </ng-template>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
