@import "../../../../sass/variables";
.user-details {
  margin: 50px 0;
  width: 100%;

  .user {
    background: #fff;
    padding: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background: url(/assets/icons/user.svg) no-repeat center;
      width: 300px;
      height: 300px;
      bottom: -65px;
      right: 10px;
      opacity: 0.1;
    }
  }
  .italic .bold {
    color: #7b79b7;
  }
  .user-username {
    display: inline-block;
    width: 50%;

    h2 {
      font-family: $title-sans-font-stack;
      font-weight: 400;
      font-size: 33px;
      color: #365652;
      line-height: 1;
      margin: 0;
      float: left;
    }
  }
  p {
    margin: 0 0 5px;
  }
  .user-data {
    margin-bottom: 20px;


    tr {
      line-height: 32px;
    }
  }
  .user-action {
    float: right;
    padding: 3px 10px 0;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .3s;

    &:hover {
      opacity: 0.5;
    }
  }


}
