.document-list {
  margin: 50px 0;

  .table thead th {
    border-top: 0;
  }
  .document-search {
    .loupe {
      width: 20px;
      height: 20px;
      margin: 8px;
    }
  }
  .thumb-wrap {
    width: 44px;
    height: 44px;
    border-radius: 3px;
    box-shadow: 0 3px 5px #eee;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .table-responsive {
    background: #fff;
    padding: 40px;

    tr:first-child td {
      border-top: none;
    }
  }
  .document-link {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .document-title {
    width: 100%;
    float: left;
    color: #7b79b7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .document-type {
    font-size: 15px;
    color: #777;
  }
  .table-link {
    float: left;
    margin: 9px;
    cursor: pointer;
    outline: none;
    opacity: 0.2;
    transition: opacity .2s;

    &:hover {
      opacity: 0.5 !important;
    }
  }
  tr:hover {
    .table-link {
      opacity: 0.3;
    }
  }
}
