<main class="body">
  <div class="document-list col-lg-10 col-12 px-0 row mx-auto">
    <app-navbar></app-navbar>
    <div class="table-responsive">
      <div class="form-row">
        <div class="input-group mb-1 document-search col-5">
          <label ngbDropdown class="input-group-prepend">
            <button id="documentSearchProps" ngbDropdownToggle>
              <i class="loupe"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="documentSearchProps">
              <button class="dropdown-item">Document title</button>
              <button class="dropdown-item">Author</button>
              <button class="dropdown-item">Year</button>
            </div>
          </label>
          <!--<label ngbDropdown class="input-group-prepend document-menu" for="documentSearch">

            <div ngbDropdownMenu class="dropdown-menu">
              <button class="dropdown-item">Logout</button>
            </div>
          </label>-->
          <input type="search" id="documentSearch" (keydown)="search($event)"
                 class="form-control form-control-lg"
                 placeholder="Search documents">
        </div>
      </div>
      <p class="text-muted italic">Documents by criteria:</p>
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th width="40%"></th>
            <th width="35%"></th>
            <th width="20%"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let document of (documents$ | async)">
            <td class="pr-0">
              <div class="thumb-wrap">
                <img src="{{document.cover.substr(0, document.cover.length-1)}}1" alt="{{document.title}}">
              </div>
            </td>
            <td>
              <a class="document-link" [routerLink]="'/admin/document/'+document.document_id">
                <span class="document-title">{{document.title.substr(0, 50)}}</span>
                <span class="document-type">{{document.type | documentType}}
                  {{document.authors.length ? 'by ' + document.authors[0].name : ''}}
                </span>
              </a>
            </td>
            <td>{{document.publisher}}</td>
            <td class="float-right">
              <span class="table-link" [routerLink]="'/admin/document/'+document.document_id+'/edit'"><i class="edit"></i> </span>
              <span class="table-link" (click)="openModal(deleteDocument, document)"><i class="remove"></i></span>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>
<ng-template #deleteDocument let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Confirm')">Confirm</button>
  </div>
</ng-template>
