<main class="body">
  <div class="document-list col-lg-10 col-12 px-0 row mx-auto">
    <app-navbar></app-navbar>
    <div class="table-responsive">
      <div class="form-row">
        <div class="input-group mb-1 document-search col-5">
          <input type="search" id="documentSearch" (keyup.enter)="search()"
                 class="form-control form-control-lg" #searchInput
                 placeholder="Search documents">
          <div class="input-group-append">
            <div ngbDropdown>
              <button id="documentSearchProps" ngbDropdownToggle>
                <span class="badge badge-warning">By {{ type.split('_')[0] }}</span>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="documentSearchProps">
                <button class="dropdown-item" (click)="selectType('title')">Document title</button>
                <button class="dropdown-item" (click)="selectType('author_name')">Author</button>
                <button class="dropdown-item" (click)="selectType('year')">Year</button>
              </div>
            </div>
            <span class="search-btn" (click)="search()"><i class="loupe"></i></span>
          </div>
          <!--<label ngbDropdown class="input-group-prepend document-menu" for="documentSearch">

            <div ngbDropdownMenu class="dropdown-menu">
              <button class="dropdown-item">Logout</button>
            </div>
          </label>-->
        </div>
        <div>
          <button class="btn btn-light" style="left: 30px;" [routerLink]="'/librarian/document-list/add/'">Add book</button>
        </div>
      </div>
      <p class="text-muted italic mt-3">Documents by criteria:</p>
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th width="40%"></th>
            <th width="35%"></th>
            <th width="20%"></th>
          </tr>
          </thead>
          <tbody id="searchResults">
          <tr *ngFor="let document of (documents$ | async)">
            <td class="pr-0">
              <div class="thumb-wrap">
                <img src="{{document.cover.substr(0, document.cover.length-1)}}1" alt="{{document.title}}">
              </div>
            </td>
            <td>
              <a class="document-link" [routerLink]="'/documents/'+document.document_id">
                <span class="document-title">{{document.title.substr(0, 50)}}</span>
                <span class="document-type">{{document.type | documentType}}
                  {{document.authors.length ? 'by ' + document.authors[0].name : ''}}
                </span>
              </a>
            </td>
            <td>
              {{document.publisher}}
              <span *ngIf="document.is_bestseller" class="badge badge-warning" style="margin-left: 5px;">bestseller</span>
              <span *ngIf="document.is_reference" class="badge badge-secondary">reference book</span>
            </td>
            <td class="float-right">
              <span class="table-link" [routerLink]="'/documents/'+document.document_id+''"><i class="edit"></i> </span>
              <span class="table-link" (click)="openModal(deleteDocument, document)"><i class="remove"></i></span>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>
<ng-template #deleteDocument let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Confirm')">Confirm</button>
  </div>
</ng-template>
