.notification-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 280px;

  .notification {
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0 0 26px #eaeaea;
    font-size: 14px;
    margin-bottom:  10px;
    padding: 10px 20px 10px 60px;
    overflow: hidden;
    cursor: pointer;

    span {
      font-size: 12px;
      color: #888;
    }
    .delete {
      display: none;
    }

    &.notification--error {
      .title {
        color: #bf6161;
      }
      &:before {
        content: "";
        background: url('/assets/icons/warning.svg');
        width: 28px;
        height: 28px;
        position: absolute;
        left: 15px;
        top: 15px;
      }
    }


    &.notification--success {
      .title {
         color: #4f945c;
       }
      &:before {
        content: "";
        background: url('/assets/icons/success.svg');
        width: 28px;
        height: 28px;
        position: absolute;
        left: 15px;
        top: 15px;
      }
    }

    &.notification--title-only {
      min-height: 58px;
      line-height: 38px;
    }
  }

}
